@model IEnumerable<ASPFinal.Models.JobPost>

@{
	ViewData["Title"] = "Postings";
}

<h1>Job Postings</h1>

<p><a asp-action="Create">Upload a Job</a></p>
<table class="table sortable table-borderless">
	<thead>
		<tr class="border-bottom border-info">
			<th>
				@Html.DisplayNameFor(model => model.JobName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.JobStatus)
			</th>
			@if(User.Identity.IsAuthenticated)
			{
				<th></th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model)
		{
			<tr class="border-top">
				<td>
					@Html.DisplayFor(modelItem => item.JobName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.JobStatus.Name)
				</td>
				@if(User.Identity.IsAuthenticated)
				{
					if(User.Identity.Name == item.Account.UserId)
					{

						<td>
							<a asp-action="Edit" asp-route-id="@item.JobPostId">Edit</a> |
							<a asp-action="Details" asp-route-id="@item.JobPostId">Details</a> |
							<a asp-action="Delete" asp-route-id="@item.JobPostId">Delete</a>
						</td>
					}
					else
					{
						<td>
							<a href="" class="btn btn-info">Accept</a>
							<a asp-action="Details" asp-route-id="@item.JobPostId" class="btn btn-success">View</a>
						</td>
					}
				}
			</tr>
		}
	</tbody>
</table>
